<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ar.desdehasta">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Desdehasta">
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".InteresActivityDetail"
            android:exported="false"
            android:label="@string/interesDetalles"
            android:parentActivityName=".InteresActivity"/>
        <activity
            android:name=".InteresActivity"
            android:exported="false"
            android:label="@string/interes"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AgendaDeEventosActivity"
            android:label="@string/agendar_circuitos" />
        <activity
            android:name=".IniciarCircuitoActivity"
            android:label="@string/iniciar_circuito" /> <!-- android:theme="@style/Theme.AppCompat.Light.NoActionBar" -->
        <activity android:name=".AltaGrupoActivity" />
        <activity android:name=".AltaPersonasActivity" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/inicio_sesion" />
        <activity
            android:name=".ListadoCircuitosActivity"
            android:label="@string/circuitos" />
        <activity
            android:name=".AltaCircuitoActivity"
            android:label="@string/crear_circuito" />
        <activity android:name=".DetalleCircuito" />
        <activity
            android:name=".MainActivity"
            android:label="@string/inicio"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyATmeZ6gpP4X6B1jfCeItUYsMKQopTelMY" />
    </application>

</manifest>